body {
    background-color: rgb(40, 31, 46);
    color: white;
}

header {
    margin-top: 5%;
}

main {
    margin-top: 5%;
}

footer {
    margin: 5% 0 5% 0;
}

.city {
    font-size: 2rem;
    color: rgb(72, 62, 80);
}

.clock-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: rgb(20, 16, 23) solid 5px;
}

.input-group {
    min-width: 350px;
    padding: 0;
}

.form-control {
    font-size: 1.5rem;
    background: rgb(119, 103, 131);
}

.settings_group {
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}

.title {
    font-size: 3rem;
    margin-bottom: 5%;
    color: rgb(20, 16, 23);
    border-bottom: rgb(35, 26, 41) solid 5px;
    border-top: rgb(20, 16, 23) solid 5px;
    padding-bottom: 10px;
}

.row {
    display: block;
    font-size: 1.3rem;
}

.timer {
    font-size: 4rem;
}

.btn {
    font-size: 1.3rem;
}

.btn-group {
    width: 35%;
}

.hid {
    display: none;
}

.second-timer {
    display: none;
}


@media (max-width: 650px) {
    .alarm_option {
        padding-bottom: 10%;
    }

    .title {
        font-size: 1.5rem;
    }

    .clock {
        font-size: 2rem;
    }

    .form-control {
        font-size: 0.8rem;
    }

    .form-check {
        font-size: 1rem;
    }

    .timer {
        font-size: 2rem;
    }

    .btn {
        font-size: 1rem;
    }

    .row {
        margin: auto;
    }

    .input-group {
        min-width: 100%;
    }

    .btn-group {
        width: 100%;
    }
};